@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    margin: 50px;
    background-color: #34495e;
    color: white;
}

h1,
h2 {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    margin-top: 50px;
}

article>ul {
    list-style-type: square;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul ul:first-of-type {
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul ul ul:first-of-type {
    list-style-type: circle;
    margin-top: 10px;
    margin-bottom: 10px;
}

article ol {
    margin-top: 20px;
    margin-bottom: 20px;

}