body {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

header,
aside,
main,
footer {
    padding: 0 1em;
    background-color: rgba(181, 216, 255, 255);
    border-radius: 0.3em;
}

header,
footer {
    flex-basis: 100%;
}

header {
    display: flex;
    align-items: center;
}

main {
    flex: 6 1 auto;
}

aside {
    flex: 0 1 5em;
}

aside ul {
    padding-left: 0;
    padding-right: 2em;
    /*
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    */
}

aside ul li {
    display: block;
    padding: 0.3em;

}

aside ul li a {
    text-decoration: none;
    color: #694c9c
}

footer p {
    margin: 0.5em 0;
}

/*for this task*/

header  {
    display: flex;    
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 2em;
}

header nav ul li {
    display: block;
}

header nav ul li a {
    text-decoration: none;
}

/*for this task*/

@media(max-width: 500px) {
    body {
        flex-direction: column;
    }

    /*•	the <ul> tag in the <nav> need to be left with 0 margin and padding
    •	the <a> tag in the <nav> need to be displayed as block and with padding-left: 5px */
    header nav ul {
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
    }

    header nav ul li a {
        display: block;
        padding-left: 5px
    }
}

