main {
    width: 700px;
    min-height: 500px;
    margin: 60px;
  
}

img.new {
    position: relative;
    top: -200px;
    right: 150px;  
}



/*

•	img.new:
o	Relative position
o	Top coordinates: -200px
o	Right coordinates: 150px

same as 
transform: translate(-150px, -200px);
*/